<form class="border p-3 rounded-4" [formGroup]="loginForm" (ngSubmit)="loginSubmited()">
  <div class="row g-0">
    <div class="col text-center p-2 mb-3 bg-light">
      <span class="fs-3">
        Login Page
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3 bg-light">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="emai1" formControlName="email">
      <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">Email Requerido</div>
      <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">Email é Invalido</div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3 bg-light">
      <label for="pwd" class="form-label">Senha</label>
      <input type="password" class="form-control" id="pwd" formControlName="pwd">
      <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && (PWD.touched || PWD.dirty)">Senha Requerida</div>

      <div class="form-text text-danger"
      *ngIf="PWD.errors?.['minlength'] || PWD.errors?.['maxlength'] && (PWD.dirty || PWD.touched)">
        Senha deve ter pelo menos 6 e no máximo 15 caracteres.
      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-6 offset-3">
      <div class="d-grid">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</form>

